projects
db
rm_output
python_query_output_backup
batch_autoql_from_csv.log
test.csv
testing_db
result
.venv

# CodeQL 相關大檔案
codeql-bundle-linux64.tar.gz
codeql/cpp/tools/linux64/cpp-telemetry
codeql/cpp/tools/linux64/extractor
codeql/cpp/tools/linux64/extractor-static
codeql/cpp/tools/linux64/trap-cache-reader
codeql/cpp/tools/
codeql/